* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigation bar start */
.nav .nav-item {
    font-weight: bolder;

}

.nav .nav-item .nav-link {
    /* color: #001d3d; */
    color: #ffffff;
    padding-left: 40px;
}

.nav .nav-item .nav-link:hover {
    color: #000814;
    border-bottom: 2px solid #003566;
    background-color: #ffd60a;
}

/* Navigation bar end */
/* start of body content */
body {
    /* background-image: url('../IMAGES/Web-3.0-music-NFT.jpg'), url('../IMAGES/10-reasons-why-i-love-music.jpg'),
        linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: bottom right,left,right; */
    background-image: url('../IMAGES/Web-3.0-music-NFT.jpg');
    /* background-position: center; */
    background-size: cover;
}
.description .slogan{
    color: #ffffff;
    line-height: 1.6;
    font-size: 12vh;
    text-transform: capitalize;
    padding: 2% 2%;
}
.description .slogan span{
    color: #ffd60a;
    font-weight: bolder;
}