* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigation bar start */
.nav .nav-item {
    font-weight: bolder;

}

.nav .nav-item .nav-link {
    /* color: #001d3d; */
    color: #ffffff;
    padding-left: 40px;
}

.nav .nav-item .nav-link:hover {
    color: #000814;
    border-bottom: 2px solid #003566;
    background-color: #ffd60a;
}

/* Navigation bar end */
/* start of body content */
body {
    /* background-image: url('../IMAGES/Web-3.0-music-NFT.jpg'), url('../IMAGES/10-reasons-why-i-love-music.jpg'),
        linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: bottom right,left,right; */
    background-image: url('../IMAGES/Web-3.0-music-NFT.jpg');
    /* background-position: center; */
    background-size: cover;
}
.description .slogan{
    color: #ffffff;
    line-height: 1.6;
    font-size: 12vh;
    text-transform: capitalize;
    padding: 5% 3%;
}
.description .slogan span{
    color: #ffd60a;
    font-weight: bolder;
}
.image img{
    width: 90%;
    border-radius: 10% 10% 0 0 ;
    object-fit: cover;
}
#more-btn{
    width: 15%;
    padding: 8px;
    border: none;
    outline: 0.5px solid #f19530;
    background-color: transparent;
    color: #ffd60a;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 0 7% 3%;
}
video{
    width: 100%;
    height: 30vh;
}

.footer{
    text-align: center;
    border: 1px solid #f19530;
    background-color: #000814;
    color: #f19530;
    padding: 0 5%;
    
}